In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"D:\Internship project\Spam Project\spam.csv",encoding='latin1')

In [3]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [3]:
data.drop('Unnamed: 2',axis=1,inplace=True)

In [4]:
data.drop('Unnamed: 3',axis=1,inplace=True)

In [5]:
data.drop('Unnamed: 4',axis=1,inplace=True)

In [8]:
data.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [6]:
data.drop_duplicates(inplace=True)

In [7]:
data.shape

(5169, 2)

In [21]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()

In [10]:
data['v1']=le.fit_transform(data['v1'])

In [11]:
data

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [16]:
data['v2']=data['v2'].slice_shift()

C:\Users\Dell\AppData\Local\Temp\ipykernel_1052\473327557.py:1: FutureWarning: The 'slice_shift' method is deprecated and will be removed in a future version. You can use DataFrame/Series.shift instead.
  data['v2']=data['v2'].slice_shift()

In [18]:
data['v2'].split('\n\n')

AttributeError: 'Series' object has no attribute 'split'

In [20]:
data['v2']=data['v2'].div

In [21]:
data['v2']

0       <bound method flex_method_SERIES.<locals>.flex...
1       <bound method flex_method_SERIES.<locals>.flex...
2       <bound method flex_method_SERIES.<locals>.flex...
3       <bound method flex_method_SERIES.<locals>.flex...
4       <bound method flex_method_SERIES.<locals>.flex...
                              ...
5567    <bound method flex_method_SERIES.<locals>.flex...
5568    <bound method flex_method_SERIES.<locals>.flex...
5569    <bound method flex_method_SERIES.<locals>.flex...
5570    <bound method flex_method_SERIES.<locals>.flex...
5571    <bound method flex_method_SERIES.<locals>.flex...
Name: v2, Length: 5169, dtype: object

In [22]:
data

      v1                                                 v2
0      0  <bound method flex_method_SERIES.<locals>.flex...
1      0  <bound method flex_method_SERIES.<locals>.flex...
2      1  <bound method flex_method_SERIES.<locals>.flex...
3      0  <bound method flex_method_SERIES.<locals>.flex...
4      0  <bound method flex_method_SERIES.<locals>.flex...
...   ..                                                ...
5567   1  <bound method flex_method_SERIES.<locals>.flex...
5568   0  <bound method flex_method_SERIES.<locals>.flex...
5569   0  <bound method flex_method_SERIES.<locals>.flex...
5570   0  <bound method flex_method_SERIES.<locals>.flex...
5571   0  <bound method flex_method_SERIES.<locals>.flex...

[5169 rows x 2 columns]